
.loginContainer {
    width: 300px;
    height: 200px;
    z-Index: 9999;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center; 
    
}

.loginBtn {
    border: none;
    border-radius:5px;
    cursor: pointer;
    padding: 5px;
    width: 90px;
    height: 34px;
    background-color: black;
    color: white;
    margin: 10px;
    margin-left: 94px;
}

.cancelLoginButton {
    border: none;
    border-radius:5px;
    cursor: pointer;
    width: 90px;
    height: 34px;
    padding: 5px;
    background-color: black;
    color: white;
    margin: 15px;
    margin-bottom: 60px;

}
.success {
    color: green;
    font-size: 14px;
    text-align: center;
}

.error {
    color: red;
    font-size: 14px;
    text-align: center;
}

.cancel {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.cContainer {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: space-between;
    
}