.registerContainer {
    width: 450px;
    height: 500px;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid black;
    background-color: white;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
  }
  
  .registerContainer h1 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 36px;
  }
  
  .registerContainer input {
    width: 100%;
    height: 45px;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  .registerButton,
  .cancelRegisterButton {
    display: block;
    margin: auto;
    margin-top: 18px;
    border-radius: 5px;
    cursor: pointer;
    width: 130px;
    height: 38px;
    background-color: black;
    color: white;
  }
  
  .success {
    color: green;
    font-size: 16px;
    text-align: center;
  }
  
  .error {
    color: red;
    font-size: 18px;
    text-align: center;
    margin-top: 28px; }
  