
.map-container {
   display: flex;
   border: 2px solid #80979E;

}

.create-review-container {
   display: flex;
   flex-direction: row-reverse;
   max-width: 100%;
   justify-content: flex-start;
   margin-left: 15px;
   flex-wrap: wrap;
   gap:5.8rem;
   margin-top:0.5rem;
 }

.review-form {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  margin-left:2.2rem;
  min-height: 1.2rem;

}
 .accessibility-checklist {
   list-style: none;
   padding: 5px;

  
 }
 
 .features-list li {
  flex-direction: column;
   margin-bottom: 0.5rem;
   padding: 3px;
   justify-content: left;
   margin-right: 5px;
  
 }
 
 
 .submitButton{
  margin-top:1rem;
  margin-bottom:1rem;
  color: green;
}


