/* header div */
.map-container {
  width: 100%;
  margin-top: 40px;
  background-color: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.map {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   padding: 10px;
}

.reviews-container {
  display: flex; 
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 15px; 
}

.reviews {
  border: 2px solid white;
  flex-direction: row;
  display: flex;
  height: 50vh;
  width: 80vh;
}

.reviews-list {
  padding: 15px;
  width: 70vh;
  display: flex;
  flex-direction: row;
  height: 50vh;
 } 


 /* container for form with accessibility features */
.create-review-container {
   /* display: flex; */
   margin-top: 40px;
   margin: 20px;
   /* flex-direction: row; */
   max-width: 500px;
   /* justify-content: center;
   align-items: center;  */
   padding: 15px;
   border: 2px solid white; 
   border-radius: 5%;
   font-size: 16px;
}

 .accessibility-checklist {
   list-style: none;
   padding: 10px;
   /* display: flex; */
   /* flex-direction: column; */
 }

 .features-list li {
  /* flex-direction: row; */
   margin-bottom: 0.5rem;
   padding: 2px;
   margin-right: 10px;
   font-size: 16px;
 }
/* 
 .reviews-form {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 15px;
 } */
 

.name-title-description {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: bold;
  padding: 2px;
}
.review-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.checkbox-heading {
  margin-bottom: 15px;
}


/* buttons styling, add review and submit review css */
 .submitButton{
  border-radius: 10%;
  margin: 1em;
  margin-left: 5em;
  color: white;
  background-color: black;
  height: 100 px;
  width: 200px;
  font-size: 22px;
 }

 .reviews-button {
  justify-content: center;
  border-radius: 10%;
  align-items: center;
  margin-top:1rem;
  flex-direction: row;
  margin-bottom:1rem;
  color: white;
  background-color: black;
  height: 100 px;
  width: 200px;
  font-size: 22px;
 }

/* button for setting the stars (rating) */
 button {
  background-color: transparent;
  border: none;
  font-size: 20px;
  outline: none;
  cursor: pointer;
  height: 60px;
  width: 40px;
  transition-duration: 0.4s;
}
.on {
  color: yellow;
}
.off {
  color: white;
}


.addReviewButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 10%;
  margin-top:1rem;
  margin-bottom:1rem;
  color: white;
  background-color: black;
  height: 100 px;
  width: 200px;
}