
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  
}

body {
 
  background: linear-gradient(to bottom, rgba(255,255,255,0.25) 0%, rgba(0,0,0,0.25) 100%), 
              radial-gradient(at top center, rgba(255,255,255,0.60) 0%, rgba(0,0,0,0.60) 120%);
  background-blend-mode: overlay, multiply;
  background-size: cover;
  background-attachment: fixed;
}

/* .first-row {
  display: flex;
  flex-direction: row;
} */


