
* {
    box-sizing: border-box;
}

.navbar {
    display: flex;
    padding: 2px;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 160px;
    position: sticky;
}

a:hover { 
    color: rgb(109, 193, 78); 
    background-color: white;
    border-radius: 10%;
    font-weight: bold;
}

.logo {
    height: 140px;
    width: 160px;
    display: flex;
    border-radius: 20%;
    padding: 2px;  
}

.loginButton {
    border: 2px solid white;
    border-radius:5px;
    background-color: white;
    width: 100px;
    color: black;
    cursor: pointer;
    width: 100px;
    height: 50px;
}